<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Mapping DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/turnosHibernate?serverTimezone=GMT-3</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property><!-- en true muestra hql en consola-->
		<!--Mapeo Entidades   -->
	
		  <mapping resource="mapeos/Provincia.hbm.xml"/>
		  <mapping resource="mapeos/Localidad.hbm.xml"/>
		   <mapping resource="mapeos/Direccion.hbm.xml"/>
		   	   <mapping resource="mapeos/Lugar.hbm.xml"/>
		   	    <mapping resource="mapeos/Especialidad.hbm.xml"/>
		   	     <mapping resource="mapeos/Contacto.hbm.xml"/>
		   	      <mapping resource="mapeos/Persona.hbm.xml"/>
		   	       <mapping resource="mapeos/Servicio.hbm.xml"/>
		   	        <mapping resource="mapeos/Turno.hbm.xml"/>
		   	          <mapping resource="mapeos/Disponibilidad.hbm.xml"/>
		   	    
	
	</session-factory>
</hibernate-configuration>